
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
h1{
    text-align: center;
    color:blue;
    font-size: 50px;
    padding-left: 45px;
}
.container{
    text-align: center;
    width: 600px;
    margin-left: 30%;
    border:2px solid white;
    padding :26px;
}
.num{
    display:flex;
    color:green;
    margin-left: 18%;
    text-align: center;

}
h2{
    font-size: 90px;
}
    button{
        width:130px;
        height: 45px;
        background-color: red;
        color: white;
        font-size: 25px;
        border:none;
        cursor: pointer;
    margin: 6px;
    }
    button:hover{
        border: 2px solid white;
    }
